body {
  margin: 0px;
  text-align: center;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}
 .container{
  margin: auto;
  width:85%;
  text-align: left;
 }

 .menu
 {
  background-image: url(../img/snow.png);
  list-style: none;
  line-height: 1;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
 }

 .menu a
 {
  display: block;
  background-color: orange;
  color: black;
  text-decoration: none;
 }
 .menu a:hover
 {
  background: linear-gradient(#ff4800,#ff7d00);
  transition: 0.5s;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  border-bottom-right-radius: 15px;

  border-width: 1px;
 }
 .menu,.menu a,.menu--sousmenu
 {
  padding-top: 10px;
  padding-bottom: 10px;
 }
 ul, .item,.liste, h2{
     clear: both;
 }




 .menu--nav
 {
  float: left;
  text-align: center;
  position : relative;
  width:33.3%;
 }
 .menu--sousmenu
 {
  display: none;
  padding-left: 0;
  position: absolute;
  white-space: nowrap;
 }
 .menu--nav:hover .menu--sousmenu
 {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
 }
 .menu--nav ul
 {
  list-style: none;
 }

 a:hover{
  position: relative;
 }

 a, .liste h3 , .item h3{
   text-decoration: none;
   text-align:center;
 }

 .liste h3, .itemDetails h3, .item h3 {
   padding-left : 10px;
 }

 .liste h3:hover, .item h3:hover, .itemDetails h3:hover, .listeDetails h3:hover{
   transition: 0.5s;
   background-color:  #5d92ea;
   width: 100%;
 }

 .accueil, .liste, .item, .listeDetails, .itemDetails, .reservationItem{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #b1c8ed;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
 }

 .accueil h2, .liste h2, .listeDetails h2, .item h2, .itemDetails h2{
  text-align: center;
  background-color: #5d92ea;
  font-size: 2.4em;
 }


 .accueil p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2em;
 }

.accueil ul{
  font-size: 1.2em;
}
.item #gift, .reservationItem #book{
    width: 3.5%;
    height: 3.5%;

}

.item #image{
    width: 40%;
    height:40%;
}


footer {
  background: linear-gradient(to left,rgba(0,255,0,0),rgba(0,255,0,1));
  color: black;
  text-align:center;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  bottom: 0%;
}
h1{
     font-size: 1.3em;
}

.bouton {
  margin: 0 auto;
}

a.bouton {
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  transition: all 0.2s;
}

a.bouton:hover {
  color : white;
  background-color: black;
}

.photo {
  display: block;
  margin: auto;
}


@media screen and (min-width: 588px) and (min-device-width:588px) and (max-width: 768px), (max-device-width:768px) {

    body {
        background-color:lightblue;
    }


    footer img {
      width:64px;
    }

     h1 {
       font-size: large;
     }

     .menu--nav
     {
       float: none;
       text-align:center;
       width: 100%;
     }
     .menu--sousmenu
     {
       overflow: hidden;
       text-align: center;
       border-style: solid;
       border-radius: 15px;
       border-color: red;
     }
     .menu--nav:hover .menu--sousmenu
     {
       z-index: 1;
     }

     .menu li {
         float: none;
         font-size: large;
         width:100%;
         height: 40%;
      }

}

@media screen and (max-width:587px)
{
  body {
      background-color:lightblue;
  }


  footer img {
    width:64px;
  }

   h1 {
     font-size: large;
   }

   .menu--nav
   {
     float: none;
     text-align:center;
     width: 100%;
   }
   .menu--sousmenu
   {
     overflow: hidden;
     text-align: center;
     border-style: solid;
     border-radius: 15px;
     border-color: red;
   }
   .menu--nav:hover .menu--sousmenu
   {
     z-index: 1;
   }

   .menu li {
       float: none;
       font-size: large;
       width:100%;
       height: 40%;
    }

  .container {
    margin: 0;
    width: 100%;
  }

  a.bouton {
    padding: 15px;

  }

  a{
    font-size: 120%;
  }
}
